[user]
	name = Fumiya Nakamura
	username = nafu
	email = nakamurafumiya003@gmail.com
	signingkey = B9391DC70CFF3839
# For organization specific config
# [includeIf "gitdir:~/Projects/organization/"]
# 	path = ~/.gitconfig-organization
[alias]
	st = status
	co = checkout
[color]
	ui = true
[color "diff"]
        new = yellow
        old = blue
[core]
	excludesfile = ~/.gitignore_global
	fsmonitor = true
	untrackedcache = true
	splitIndex = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[url "git@github.com:"]
	pushinsteadof = "https://github.com/"
	pushinsteadof = "git://github.com/"
#[url "https://github.com/"]
#	pushinsteadof = "git@github.com:"
#	pushinsteadof = "git://github.com/"
[heroku]
	account = me
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[credential]
	helper = osxkeychain
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[github]
	user = nafu
[ghi]
	token = !security find-internet-password -a nafu -s github.com -l 'ghi token' -w
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[pull]
	ff = only
[commit]
	gpgsign = true
[include]
	path = ~/.gitconfig.local
[http]
	postBuffer = 524288000
[index]
	threads = 0
