[submodule "vimfiles/bundle/neobundle.vim"]
	path = vimfiles/bundle/neobundle.vim
	url = git@github.com:Shougo/neobundle.vim.git
[submodule "todo.txt-cli"]
	path = todo.txt-cli
	url = git@github.com:ginatrapani/todo.txt-cli.git
[submodule "lazy-git"]
	path = lazy-git
	url = git@github.com:nafu/lazy-git.git
[submodule "zsh/plugins/k"]
	path = zsh/plugins/k
	url = git@github.com:supercrabtree/k.git
